### SSL PROVISIONING CODE START
### DO NOT REMOVE, MUST BE FIRST DIRECTIVE IN .htaccess
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ".*/\.well-known/.*" [NC]
RewriteRule ^.*\.well-known(/.*)?$ - [END]
### SSL PROVISIONING CODE END
DirectoryIndex index.htm

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]